<!DOCTYPE html>
<html>
    <head>
        <title>तपास</title>
        <style>
            h1 {
                color:#d89a15;  
                top:50%; 
                width:100%; 
                text-align:center; 
                font-size: 31;
            }
            button[type=submit]{
                color:#d81515;  
                top:50%; width:10%; 
                margin-left: 45%; 
                margin-right: 35%; 
                text-align:center;
            }
        </style>
    </head>
    <body style="background-color: rgb(127, 178, 184);">
        <h1>कृपया कॅप्चा तपासा</h1>
        <form action="http://127.0.0.1:5000">
            <button type="submit">पुन्हा प्रविष्ट करा</button>
        </form>
    </body>
</html>